:root {
  --bg-color-main: #212529;
  --bg-color-main-alt: #fdfdfd;
  --bg-color-snd: #d8d8d8;
  --txt-color-main: #f24b4b;
  --txt-color-snd: #f6f6f6;
  --txt-color-dark: #212529;
  --bg-color-uxui: #f2a03d;
  --bg-color-webdev: #f24444;
  --bg-color-progrob: #ecb00c;
  --bg-color-dis: #324fa6;
  --bg-color-res: #f1bd2e;
}

body {
  background-color: var(--bg-color-main);
  min-height: 100%;
}

p {
  color: white;
}

/* #main-container {
  background-image: url(../images/negro-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* TITULO */

#site-cover {
  background-image: url(../images/negro-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#site-cover-content {
  margin: 0 auto;
  position: relative;
  top: 10vh;
}

#site-jumbotron-title {
  background-color: transparent;
}

#site-title {
  color: var(--txt-color-main);
}

#site-subtitle {
  color: var(--txt-color-main);
}

/* .jumbotron img {
  width: 30%;
} */

/* COLLAPSES */

/* .container-bar {
  border: 1px solid;
  border-color: var(--txt-color-main);
} */

#collapse-header-aboutme {
  background-color: var(--bg-color-main);
  color: var(--txt-color-main);
  text-align: center;
}

#collapse-body-aboutme {
  background-color: var(--bg-color-main);
  color: var(--txt-color-main);
  text-align: center;
}

#collapse-header-contact {
  background-color: var(--bg-color-main);
  color: var(--txt-color-main);
  text-align: center;
}

#collapse-body-contact {
  background-color: var(--bg-color-main);
  color: var(--txt-color-main);
  text-align: center;
}

#collapse-header-experience {
  background-color: var(--bg-color-main);
  color: var(--txt-color-main);
  text-align: center;
}

#collapse-body-experience {
  background-color: var(--bg-color-main);
  color: var(--txt-color-main);
  text-align: center;
}

/* TARJETAS VERTICALES */

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.card-img-top {
  clip-path: inset(30% 0% 30% 0% round 20% 20%);
}

.card-vert-uxui {
  color: var(--txt-color-snd);
  background-image: url(../images/back-uxui.jpg);
  background-position: center;
  background-size: cover;
  height: 4rem;
  width: 11rem;
  text-align: center;
  justify-content: center;
  border-radius: 10%;
}

.card-vert-webdev {
  color: var(--txt-color-snd);
  background-image: url(../images/back-webdev.jpg);
  background-position: center;
  background-size: cover;
  height: 4rem;
  width: 11rem;
  text-align: center;
  justify-content: center;
  border-radius: 10%;
}

.card-vert-progrob {
  color: var(--txt-color-snd);
  background-image: url(../images/back-progrob.jpg);
  background-position: center;
  background-size: cover;
  height: 4rem;
  width: 11rem;
  text-align: center;
  justify-content: center;
  border-radius: 10%;
}

.card-vert-dis {
  color: var(--txt-color-snd);
  background-image: url(../images/back-isd.jpg);
  background-position: center;
  background-size: cover;
  height: 4rem;
  width: 11rem;
  text-align: center;
  justify-content: center;
  border-radius: 10%;
}

.card-vert-res {
  color: var(--txt-color-snd);
  background-image: url(../images/back-researches.jpg);
  background-position: center;
  background-size: cover;
  height: 4rem;
  width: 11rem;
  text-align: center;
  justify-content: center;
  border-radius: 10%;
}

.card-a:link, .card-a:visited, .card-a:active {
  color: var(--bg-color-main);
  text-decoration: none;
  text-align: center;
}

.card-title:hover {
  color: var(--txt-color-main);
  text-decoration: none;
}

/* SECCIONES */

.section {
  min-height: 100vh;
}

#section1 {
  background-image: url(../images/back-uxui.jpg);
  background-position: center;
  background-size: cover;
}

#section2 {
  background-image: url(../images/back-webdev.jpg);
  background-position: center;
  background-size: cover;
}

#section3 {
  background-image: url(../images/back-progrob.jpg);
  background-position: center;
  background-size: cover;
}

#section4 {
  background-image: url(../images/back-isd.jpg);
  background-position: center;
  background-size: cover;
}

#section5 {
  background-image: url(../images/back-researches.jpg);
  background-position: center;
  background-size: cover;
}

/* TARJETAS HORIZONTALES */

.card-hor-uxui {
  background-color: transparent;
  color: var(--txt-color-snd);
}

.card-hor-webdev {
  background-color: transparent;
  color: var(--txt-color-snd);
}

.card-hor-progrob {
  background-color: transparent;
  color: var(--txt-color-snd);
}

.card-hor-isd {
  background-color: transparent;
  color: var(--txt-color-snd);
}

.card-hor-isd {
  background-color: transparent;
  color: var(--txt-color-snd);
}

.modal-footer h5, .modal-footer p {
  color: var(--txt-color-dark);
}

.hcard-title {
  margin-left: 10vw;
  margin-top: 20vh;
}

.prueba {
  margin: 0px;
}